<p id="notice"><%= notice %></p>

<p>
  <strong>Task title:</strong>
  <%= @task.task_title %>
</p>

<p>
  <strong>Task details:</strong>
  <%= @task.task_details %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @task.frequency %>
</p>

<div class="container text-center">
  <h1><%= @task.task_title %></h1>



  <p>You have completed <%= @task.days_completed %> done towards your resolution</p>

<p>You have <%= days_until_end(@resolution) %> days left to achieve your resolution</p>



  <% if Time.now < @resolution.end_date %>
    <h3>Did you complete your task today?</h3>
    <%= form_tag resolution_task_path(@resolution.tasks) do %>
      <%= submit_tag "Task Completed Today", :class => "btn btn-info" %>
    <% end %>
  <% else %>
    <h3>You have <%= days_until_end(@resolution) %> days left to achieve your resolution</h3>
  <% end %>
</div>


<%= link_to 'Edit', edit_resolution_task_path(@task) %> |
<%= link_to 'Back', resolution_tasks_path %>
